.enter-container {
    padding: 2% 10% 2% 10%;
    justify-items: center;
    justify-content: center;
    font-size: 0.8em;
    text-align: center;
    background-image: linear-gradient(#2b5348, #62b7a0);
    height: 99.9%;
}

.enter-logo {
    width: auto;
}

.enter {
    color: white;
    font-family: poppins;
    text-shadow: 1px 1px #2b5348;
}


.enter-container h1 {
line-height: 0.5;
}

.enter-arrow {
    align-self: center;
    width: 5em;
    height: auto;
}

.enter:hover {
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-family: poppins;
}

.hide {
    display: none;
}



@media only screen and (max-width: 420px) {
    .enter {
        font-size: 2em;
    }

     .enter-arrow {
        
        align-self: center;
        width: 2.5em;
    }
    

  }
