.l-list1 {
  display: inline-block;
  margin: 0 10px;
}

.p-text {
  width: 920px;
  height: 168px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.l-section {
  background: linear-gradient(180deg, #2b5348 0%, #62b7a0 100%);
}

.ex-title {
  text-align: center;
  color: #ffffff;
}
