.l-list1 {
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  text-align: center;
}
.l-list {
  text-align: center;
  margin-top: 290px;
}

.p-text {
  width: 920px;
  height: 169px;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 70px;
}

.l-section {
  background: linear-gradient(180deg, #2b5348 0%, #62b7a0 100%);
}
