.parallax {
  background-image: url(".././images/paralax-image/Background-Star-Blur.svg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cc {
  background-color: #2f584d;
}
