#poem-1-body {
    background-color: #8ad3c2;
}

.blog-item {
    background-color: #8ad3c2;
    margin: 0% 10% 0% 10%;
}

.blog-item-body {
    padding: 0% 5% 5% 5%;
}

.blog-item-title {
    padding: 5% 0% 0% 0%;
}


/* #poem-1-container {
    background-color: #8ad3c2;
    margin-left: 3%;
    margin-right: 3%;
    
} */

.blog-item-title {
    color: #29574e;
    font-weight: bold;
    align-items: start;
    justify-items: start;
}

#selection {
background-color: #b3fcf0;
color: #29574e;
}

