#share-button-div {
    color: #1C3830;
    background: #1C3830;
    border-radius: 2px;
    align-self: start;
}

#share-button{
    background-color: #1C3830;
    color: #FFFFFF;
}

#share-button:hover{
    background-color: #1C3830 !important;
    color: #FFFFFF !important;
}

#dropdown-content {
    background-color: #1C3830 !important;
    min-width: 85px !important;
}
