#share-button-div {
    color: #1C3830;
    background: #1C3830;
    border-radius: 2px;
    margin-right: 44px;
}
#share-button{
    background-color: #1C3830;
    color: #FFFFFF;
}
#share-button:hover{
    background-color: #1C3830 !important;
    color: #FFFFFF !important;
}

#dropdown-content {
    background-color: #1c383083 !important;
}

#share-link:hover {
    background-color: #78E4CE !important;
    min-width: 85px !important;
}