#share-button-div {
    color: #1C3830;
    background: #1C3830;
    border-radius: 2px;
    align-self: start;
}

#share-button{
    background-color: #1C3830;
    color: #FFFFFF;
}

#share-button:hover{
    background-color: #1C3830 !important;
    color: #FFFFFF !important;
}

#dropdown-content {
    background-color: #1C3830 !important;
    min-width: 85px !important;
}


@media only screen and (max-width: 500px) {
    #share-button {
        padding-right: 0;
        padding-left: 0;
        font-size: 0.8em;
    }
    .hero-icon-container {
        margin-top: 15vh;
    }
}
